[package]
name = "ya-client"
version = "0.3.0"
description = "Yagna REST API client async binding"
authors = ["Golem Factory <contact@golem.network>"]
homepage = "https://github.com/golemfactory/ya-client"
repository = "https://github.com/golemfactory/ya-client"
license = "LGPL-3.0"
edition = "2018"

[features]
default = []
cli = ['structopt']
sgx = ['graphene', 'lazy_static', 'secp256k1', 'openssl', 'secp256k1/serde', 'secp256k1/rand', 'ya-client-model/sgx']

[workspace]
members = [
    "model",
]

[dependencies]
ya-client-model = { path = "model" }

awc = "1.0"
backtrace = "0.3"
bytes = "0.5"
chrono = "0.4"
envy = "0.4"
failure = "0.1.6"
futures = "0.3"
hex = "0.4"
log = "0.4"
rand = "0.6"
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0"
url = "2.1"

graphene = { version = "0.3.2", git = "https://github.com/golemfactory/graphene-rust.git", optional = true }
lazy_static = { version = "1.4", optional = true }
secp256k1 = { version = "0.17.2", optional = true }
structopt = { version = "0.3.12", optional = true }
openssl = { version = "0.10", optional = true }

[dev-dependencies]
actix-rt = "1.0"
env_logger = "0.7"
structopt = "0.3"
